body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.commonButton {
  background-color: transparent;
  border: 0;
  height: 2.3rem;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 6px 10px;
  text-transform: uppercase;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.primary {
  color: rgb(0, 188, 212);
}

.primarytextcolor {
  color: #3b3b3b;
}

.secondtextcolor {
  color: #afafaf;
}

.primarytextcolor::after {
  position: absolute;
  content: "";
  border-bottom: 3px solid #3b3b3b;
  width: 70%;
  left: 16px;
  bottom: 0px;
}
